<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <SaigonTechnology_Quote>
            <options>
                <max_day_to_keep_old_quotes>14</max_day_to_keep_old_quotes>
                <is_enable_max_day_to_keep_old_quotes>0</is_enable_max_day_to_keep_old_quotes>
            </options>
        </SaigonTechnology_Quote>
    </default>
</config>
